h3{
    color:blue
}
.container{
    display: flex;
}

.Technology{
color:brown;
background-color: blanchedalmond;
order: 2;


}
.Developers{
    color: blueviolet;
    background-color: rgb(199, 187, 170);
    order: 3;
    
}
.Quality{
    color: aqua;
    background-color:rgb(96, 133, 101);
    order: 1;
    
    
}
.para1{
    color: rgb(23, 74, 119);
}
.outerbox{
    background-color:white;
    min-height: 200px;
    display: flex;
     justify-content:space-around;  
     /* flex-wrap: wrap; */
   
}
.box{
width: 80px;
height: 125px;
background-color: blue;
border: 2px solid white;
}